In [4]:
import pandas as pd
import numpy as np
import os

In [9]:
df_age_population = pd.read_csv(os.path.join('age_population.csv'), header=None).drop([1], axis=1)

In [10]:
df_age_population

         0    2     3
0      新北市    0  3533
1      新北市    1  4109
2      新北市    2  4202
3      新北市    3  4497
4      新北市    4  4899
...    ...  ...   ...
37163  連江縣   96     0
37164  連江縣   97     0
37165  連江縣   98     0
37166  連江縣   99     0
37167  連江縣  100     0

[37168 rows x 3 columns]

In [51]:
pop_by_country_age = dict.fromkeys(df_age_population[0].unique().tolist())

In [52]:
age_group_boundary = [(0, 4), (5, 18), (19, 64), (65, 100)]

In [53]:
for bound in age_group_boundary:
    mask = (df_age_population[2] <= bound[1]) & (df_age_population[2] >= bound[0])
    temp = df_age_population[mask].drop([2], axis=1).groupby([0], sort=False, as_index = False).sum().set_index(0)

    for country in pop_by_country_age.keys():
        if pop_by_country_age[country] is None:
            pop_by_country_age[country] = []
        pop_by_country_age[country].append(temp.loc[country][3])
        
temp = df_age_population.drop([2], axis=1).groupby([0], sort=False, as_index = False).sum().set_index(0)

for country in pop_by_country_age.keys():
    pop_by_country_age[country].append(temp.loc[country][3])

In [54]:
pop_by_country_age

{'新北市': [147501, 481393, 2783799, 618261, 4030954],
 '臺北市': [112764, 317081, 1676934, 495639, 2602418],
 '桃園市': [110901, 316176, 1549671, 292059, 2268807],
 '臺中市': [123422, 386396, 1926365, 384604, 2820787],
 '臺南市': [66798, 224085, 1274763, 309271, 1874917],
 '高雄市': [101098, 323529, 1879912, 461393, 2765932],
 '宜蘭縣': [16106, 54307, 304472, 78202, 453087],
 '新竹縣': [27766, 89264, 379806, 73939, 570775],
 '苗栗縣': [17781, 69920, 361778, 93111, 542590],
 '彰化縣': [53182, 159595, 843011, 210882, 1266670],
 '南投縣': [15596, 55935, 327758, 91543, 490832],
 '雲林縣': [21751, 80608, 445263, 129251, 676873],
 '嘉義縣': [13533, 50697, 333644, 101607, 499481],
 '屏東縣': [24948, 89533, 551824, 146353, 812658],
 '臺東縣': [7395, 25727, 144555, 37584, 215261],
 '花蓮縣': [11911, 38556, 217230, 56675, 324372],
 '澎湖縣': [4357, 10422, 73067, 18106, 105952],
 '基隆市': [10860, 39495, 252815, 64407, 367577],
 '新竹市': [22518, 73266, 296516, 59112, 451412],
 '嘉義市': [9674, 36864, 176146, 43321, 266005],
 '金門縣': [4858, 11991, 103429, 20319, 140597],
 '連江縣': [582, 1320, 9701, 1676, 13279]}